<!DOCTYPE html>
<html lang="en">
{{template "header_start" .}}
<link href="./public/img/icon.png" rel="shortcut icon">
<title>dashboard</title>
{{template "header_end" .}}

<body class="sidebar-is-reduced">
    {{template "navbar" .}}
    <main class="l-main">
        <div class="content-wrapper content-wrapper--with-bg">
            <div class="content-tab-active" data-toggle="tab" id="Cogs">
                this is Cogs
                <div class="list-group">
                    <a href="#" class="list-group-item">
                        <div class="media col-md-3">
                            <figure class="pull-left">
                                <img class="media-object img-rounded img-responsive" src="http://placehold.it/140x100" alt="placehold.it/140x100">
                            </figure>
                        </div>
                        <div class="col-md-5">
                            <h4 class="list-group-item-heading pb-3"> Olympic </h4>
                            <p class="list-group-item-text"> Proposal to implement best in class enterprise permissioning system to manage signature accumulation and hierarchy management</p>
                        </div>
                        <div class="col-md-3 pull-left">
                            <div class="container col-md-12">
                                <div class="row">
                                    <div class="col-md-12 pull-left"><i class="fa fa-check-square"></i> General Manager</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 pull-left"><i class="fa fa-check-square"></i> Project Manager</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 pull-left"><i class="fa fa-square"></i> Tech Lead</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1 text-center">
                            <p> 2 <small> approvals </small></p>
                            <button type="button" class="btn btn-primary btn-sm btn-block">Open</button>
                        </div>
                    </a>
                    <a href="#" class="list-group-item">
                        <div class="media col-md-3">
                            <figure class="pull-left">
                                <img class="media-object img-rounded img-responsive" src="http://placehold.it/140x100" alt="placehold.it/140x100">
                            </figure>
                        </div>
                        <div class="col-md-5">
                            <h4 class="list-group-item-heading pb-3"> Olympic </h4>
                            <p class="list-group-item-text"> Proposal to implement best in class enterprise permissioning system to manage signature accumulation and hierarchy management</p>
                        </div>
                        <div class="col-md-3 pull-left">
                            <div class="container col-md-12">
                                <div class="row">
                                    <div class="col-md-12 pull-left"><i class="fa fa-check-square"></i> General Manager</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 pull-left"><i class="fa fa-check-square"></i> Project Manager</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 pull-left"><i class="fa fa-square"></i> Tech Lead</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1 text-center">
                            <p> 2 <small> approvals </small></p>
                            <button type="button" class="btn btn-primary btn-sm btn-block">Open</button>
                        </div>
                    </a>
                    <a href="#" class="list-group-item">
                        <div class="media col-md-3">
                            <figure class="pull-left">
                                <img class="media-object img-rounded img-responsive" src="http://placehold.it/140x100" alt="placehold.it/140x100">
                            </figure>
                        </div>
                        <div class="col-md-5">
                            <h4 class="list-group-item-heading pb-3"> Olympic </h4>
                            <p class="list-group-item-text"> Proposal to implement best in class enterprise permissioning system to manage signature accumulation and hierarchy management</p>
                        </div>
                        <div class="col-md-3 pull-left">
                            <div class="container col-md-12">
                                <div class="row">
                                    <div class="col-md-12 pull-left"><i class="fa fa-check-square"></i> General Manager</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 pull-left"><i class="fa fa-check-square"></i> Project Manager</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 pull-left"><i class="fa fa-square"></i> Tech Lead</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1 text-center">
                            <p> 2 <small> approvals </small></p>
                            <button type="button" class="btn btn-primary btn-sm btn-block">Open</button>
                        </div>
                    </a>
                </div>
            </div>
            <div class="content-tab" id="User">
                this is User
            </div>
            <div class="content-tab" id="File">
                this is File
            </div>
            <div class="content-tab" id="Cloud">
                this is Cloud
            </div>
            <div class="content-tab" id="Server">
                this is Server
            </div>
            <div class="content-tab" id="History">
                this is History
            </div>
        </div>
    </main>
    <!-- <div class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <p class="navbar-text pull-left">© 2017 - mateusmoural@hotmail.com </p>
    </div>
</div> -->
</body>

</html>