{{define "header_start"}}
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta charset="UTF-8">
		<script src="./public/js/jquery-3.1.0.min.js"></script>
		<script src="./public/bootstrap/js/bootstrap.min.js"></script>
		<script src="./public/toastr/toastr.min.js"></script>
		<script src="./public/js/utilty.js"></script>
		<script src="./public/js/main.js"></script>
		<link rel="stylesheet" type="text/css" href="./public/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="./public/css/main.css">
		<link rel="stylesheet" type="text/css" href="./public/toastr/toastr.min.css">
{{end}}